In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\lenovo\\Downloads\\Project_2.csv")

In [7]:
df.head(None)

,S_No,City,Date_of_Transaction,Card_Type,Exp_Type,Gender,Amount
0,0,"Delhi, India",2014-10-29,Gold,Bills,F,82475
1,1,"Greater Mumbai, India",2014-08-22,Platinum,Bills,F,32555
2,2,"Bengaluru, India",2014-08-27,Silver,Bills,F,101738
3,3,"Greater Mumbai, India",2014-04-12,Signature,Bills,F,123424
4,4,"Bengaluru, India",2015-05-05,Gold,Bills,F,171574
...,...,...,...,...,...,...,...
26047,26047,"Kolkata, India",2014-06-22,Silver,Travel,F,128191
26048,26048,"Pune, India",2014-08-03,Signature,Travel,M,246316
26049,26049,"Hyderabad, India",2015-01-16,Silver,Travel,M,265019
26050,26050,"Kanpur, India",2014-09-14,Silver,Travel,M,88174
26051,26051,"Hyderabad, India",2013-10-19,Signature,Bills,M,184410

In [29]:
top_cities = df.groupby('City')['Amount'].sum().sort_values(ascending=False).head(5)
total_spends = df['Amount'].sum()
top_cities_percentage = (top_cities / total_spends) * 100

top_cities.to_csv('task1.csv', index=True)
top_cities_percentage.to_csv('task1_percentage.csv', index=True)

In [31]:
df['Month'] = pd.to_datetime(df['Date_of_Transaction']).dt.to_period('M')
highest_spend_month = df.groupby(['Card_Type', 'Month'])['Amount'].sum().reset_index()
highest_spend_month = highest_spend_month.loc[highest_spend_month.groupby('Card_Type')['Amount'].idxmax()]

highest_spend_month.to_csv('task2.csv', index=False)

In [51]:
df_sorted = df.sort_values(by=['Card_Type', 'Date_of_Transaction'])
df_sorted['Cumulative_Amount'] = df_sorted.groupby('Card_Type')['Amount'].cumsum()
result = df_sorted[df_sorted['Cumulative_Amount'] >= 1000000].drop_duplicates(subset='Card_Type', keep='first')

result.to_csv('task3.csv', index=False)

In [35]:
gold_spends = df[df['Card_Type'] == 'Gold'].groupby('City')['Amount'].sum()
total_gold_spends = gold_spends.sum()
lowest_percentage_city = (gold_spends / total_gold_spends).idxmin()

pd.DataFrame({'City': [lowest_percentage_city]}).to_csv('task4.csv', index=False)

In [39]:
highest_expense = df.groupby(['City', 'Exp_Type'])['Amount'].sum().reset_index()
highest_expense = highest_expense.loc[highest_expense.groupby('City')['Amount'].idxmax()]

lowest_expense = df.groupby(['City', 'Exp_Type'])['Amount'].sum().reset_index()
lowest_expense = lowest_expense.loc[lowest_expense.groupby('City')['Amount'].idxmin()]

result = highest_expense[['City', 'Exp_Type']].merge(lowest_expense[['City', 'Exp_Type']], on='City', suffixes=('_highest', '_lowest'))

result.to_csv('task5.csv', index=False)

In [41]:
female_spends = df[df['Gender'] == 'F'].groupby('Exp_Type')['Amount'].sum()
total_spends_per_type = df.groupby('Exp_Type')['Amount'].sum()
percentage_contribution = (female_spends / total_spends_per_type) * 100

percentage_contribution.to_csv('task6.csv', index=True)

In [43]:
df['YearMonth'] = pd.to_datetime(df['Date_of_Transaction']).dt.to_period('M')
jan_2014_spends = df[df['YearMonth'] == '2014-01'].groupby(['Card_Type', 'Exp_Type'])['Amount'].sum()
dec_2013_spends = df[df['YearMonth'] == '2013-12'].groupby(['Card_Type', 'Exp_Type'])['Amount'].sum()
mom_growth = (jan_2014_spends - dec_2013_spends) / dec_2013_spends * 100
highest_growth = mom_growth.idxmax()

pd.DataFrame([{'Card_Type_Exp_Type': highest_growth, 'MoM_Growth': mom_growth.max()}]).to_csv('task7.csv', index=False)

In [45]:
df['DayOfWeek'] = pd.to_datetime(df['Date_of_Transaction']).dt.day_name()
weekend_df = df[df['DayOfWeek'].isin(['Saturday', 'Sunday'])]
weekend_spend_ratio = weekend_df.groupby('City')['Amount'].sum() / weekend_df.groupby('City')['S_No'].count()
highest_ratio_city = weekend_spend_ratio.idxmax()

pd.DataFrame([{'City': highest_ratio_city, 'Ratio': weekend_spend_ratio.max()}]).to_csv('task8.csv', index=False)

In [47]:
df['Date'] = pd.to_datetime(df['Date_of_Transaction'])
df['TransactionCount'] = df.groupby('City').cumcount() + 1
city_reach_500 = df[df['TransactionCount'] == 500].copy()
city_reach_500['Days'] = city_reach_500['Date'] - df.groupby('City')['Date'].transform('first')
fastest_city = city_reach_500.loc[city_reach_500['Days'].idxmin()]['City']

pd.DataFrame([{'City': fastest_city, 'Days': city_reach_500['Days'].min().days}]).to_csv('task9.csv', index=False)